header.header
  .header-inner
    h1.header-logo
      span.text-yellow fli
      span.text-normal cat
    include _header-navigation

.main
  .block
    a(href='#') Google
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a
  .block a

//- p!= JSON.stringify(site.posts)


.more-block
  .btn-more
    | more

footer.footer-block
  include _footer