article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  color: #666;
}
.main {
  overflow: hidden;
  width: 980px;
  margin: 80px auto 0;
  padding: 0 50px;
}
.block {
  display: inline;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
  *width: 220px -correction;
  *margin: 0 10px -correction;
  background: #000;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 100px;
  margin: 5px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
.header-inner {
  width: 940px;
  margin: 0 auto;
}
.header-logo {
  float: left;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin: 20px 0;
}
.text-yellow {
  color: #e5cb70;
}
.header-navigation {
  margin: 25px 0 0;
  padding: 0;
  float: right;
}
.header-navigation li {
  display: inline-block;
  margin-left: 20px;
  font-size: 90%;
  font-weight: 800;
  text-transform: uppercase;
}
.header-navigation a {
  text-decoration: none;
  color: #666;
}
.header-navigation a:hover {
  color: #caa525;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.header-navigation a:hover:hover {
  border-bottom: 1px solid;
}
.header-search {
  font-family: 'Raleway', sans-serif;
  padding: 3px;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #ccc;
}
.more-block {
  overflow: hidden;
  width: 980px;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  background: #f5eac6;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-weight: 700;
  color: #caa525;
  -webkit-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.more-block:hover {
  background-color: #ebd58d;
}
.footer-block {
  width: 980px;
  margin: 50px auto 20px;
  overflow: hidden;
}
.sns-block {
  float: left;
  margin: 0;
  padding: 0;
}
.sns-block li {
  display: inline-block;
}
.copyright {
  float: right;
  font-size: 11px;
  text-transform: uppercase;
}
.footer-logo {
  color: #caa525;
  font-weight: 700;
}
